<%- include('../partials/header.ejs') %>

<div class="profile-container">
  <h2><%= user.name %>'s Profile</h2>

  <div class="actions">
    <a href="/auth/<%= user._id %>/update-password" class="btn">Update Password</a>
  </div>

  <div class="cars-section">
    <h3>Your Cars</h3>

    <% if (user.cars.length > 0) { %>
      <ul class="car-list">
        <% user.cars.forEach(car => { %>
          <li class="car-item">
            <a href="/cars/<%= car._id %>"><strong><%= car.model %></strong> - <%= car.year %> - $<%= car.price %></a>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>You have no cars.</p>
    <% } %>

    <div class="car-count">
      <% if (user.cars.length === 1) { %>
        <p>You have one car.</p>
      <% } else if (user.cars.length > 1) { %>
        <p>You have more than one car.</p>
      <% } %>
    </div>
  </div>
</div>

<%- include('../partials/footer.ejs') %>
